@model Datingsida.Models.FriendListViewModel

@{
    ViewData["Title"] = "Friends";
}

@foreach (var friend in Model.friends)
{
    <div class="row" style="margin-top:5rem">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin-left:4.5rem ; margin-bottom: 2rem;">
                <img src="@Url.Action("UserAllPhotos", "Home", new { Id = friend.Id })" class="card-img-top" style="height: 18rem" alt="User Photo">
                <div class="card-body">
                    <h4 class="card-title">@friend.FirstName</h4>
                    <h5 class="card-title">@friend.Gender &bull; @friend.Age   </h5>
                    <p class=" card-text">@friend.Presentation</p>
                    <a href="@Url.Action("UserProfile", "Profiles", new { Id = friend.Id })" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    </div>

}