@model Datingsida.Models.ProfileModel

@{
    ViewData["Title"] = "Index";
}

<h2>Vänförfrågningar</h2>

<div class="container">
    <h2 style="margin-top:2rem">Friend requests</h2>
    <div class="container">


        <div class="row">

            @foreach (var friend in Model.friends)
            {
                <div class="row" style="margin-top:5rem">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem; margin-left:4.5rem ; margin-bottom: 2rem;">
                            <img src="@Url.Action("UserAllPhotos", "Home", new { Id = friend.Id })" class="card-img-top" style="height: 18rem" alt="User Photo">
                            <div class="card-body">
                                <h4 class="card-title">@friend.FirstName</h4>
                                <h5 class="card-title">@friend.Gender &bull; @friend.Age   </h5>
                                <p class=" card-text">@friend.Presentation</p>
                                <a href="@Url.Action("UserProfile", "Profiles", new { Id = friend.Id })" class="btn btn-primary">View Profile</a>
                                @Html.ActionLink("Accept", "AcceptFriendRequest", "FriendList",
                                new { UserSender = friend.Id, isAccepted = true },
                                new { @class = "btn btn-primary" })
                                @Html.ActionLink("Decline", "AcceptFriendRequest", "FriendList",
                                new { UserSender = friend.Id, isAccepted = false },
                                new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
